*{
    color: #ffffff;
    line-height: 25px;
    cursor: url(images/cursor1.svg), auto;
}
a:hover, button:hover, input[type="submit"]:hover{
    cursor: pointer;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    width: 100%;
    height: auto;
    background-color: #283138;
}
nav{
    position: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #1f1f1f;
}
nav .navbar{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 17px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    color: white;
    font-size: 30px;
}

.nav-link {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
nav .navbar .nav-link .menu .link{
    position: relative;
    padding: 20px;
}
.menu .link a {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    letter-spacing: 1.5px;
}
.active {
    background-color: #292929;
    border-bottom: 4px solid #e0a800;
}
.menu .dropdown {
    position: relative;
    display: inline-block;
}
.menu .dropdown .dropbtn {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.menu .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown .dropdown-content li {
    list-style-type: none;
    padding: 10px 0;
}

.menu .dropdown .dropdown-content li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0 10px;
}
.menu .dropdown:hover .dropdown-content {
    display: block;
    padding: 0px;
    margin-top: 10px;
}
nav .navbar .nav-link .menu .link:hover,
.menu .dropdown .dropdown-content li:hover {
    background-color: #383838;
}
.navbar-auth {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.navbar-auth .sign-in {
    text-decoration: none;
    font-size: 16px;
    color: black;
    background-color: #ffc107;
    padding: 5px 15px;
    border-radius: 20px;
}

.navbar-auth .sign-in:hover {
    background-color: #e0a800;
}
.success-msg{
    padding: 10px;
    background-color: rgb(0, 166, 50);
}
.search{
    width: 100%;
    text-align: center;
}
.search-input{
    width: 40%;
    height: 50px;
    border-radius: 15px;
    outline: none;
    border: 1px solid #aaa;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    letter-spacing: 1.5px;
    font-size: 17px;
}
.search-input:focus{
    border: 1.5px solid #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(194, 194, 194, 0.3);
}
.search-btn{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    border: 1.5px solid #ffffff;
    background-color: #5a626e;
    color: white;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-size: 17px;
}
.search-btn:hover{
    background-color: transparent;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    box-sizing: border-box;
    padding: 30px;
}
.slider{
    width: 100%;
    height: 600px;
    background-image: url('images/socialmedia1.jpg');
    background-size: cover;
    background-color: #838b99;
    background-blend-mode: multiply;
}
.slider h1{
    color: white;
    margin-left: 50px;
    margin-top: 220px;
}
.slider p{
    color: white;
    margin-left: 50px;
    font-size: 20px;
}
.slider h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
}
.box h1{
    color: white;
    text-align: left;
}
.features{
    width: 100%;
    min-height: 500px;
}
.features h2{
    text-align: center;
}
.features-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
.service-home{
    width: 24%;
    min-height: 220px;
    background-color: #3f4950;
}
.service-home img{
    width: 100%;
    height: 200px;
}
.service-info {
    padding: 0 20px;
}

.service-info h3 {
    margin-top: 0;
    color: #ffffff;
    font-size: 20px;
}

.service-info p {
    font-size: 16px;
    color: #ffffff;
}

.service-info a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.service-info a:hover {
    text-decoration: underline;
}
.features-app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.app-header{
    display: flex;
    justify-content: space-between;
}
.features-app .app-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.features-app .app-home:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.features-app .app-home img{
    width: 60px;
}
.teenbrain{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 30px;
}
.teenbrain-info{
    flex: 1;
    display: flex;
    margin: 0 5px;
    background-color: #3f4950;
}
.teenbrain-info img{
    width: 130px;
}
.teenbrain-info p{
    padding: 0 20px;
}
.news{
    flex: 1;
    margin: 10px;
    display: flex;
    background-color: #3f4950;
    padding: 20px;
}
.news img{
    width: 200px;
    height: 100%;
}
.subscribe form input[type="submit"]{
    padding: 5px 10px;
    margin: 10px;
    background-color: #df9100;
    color: black;
    font-size: 16px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color: #1f1f1f;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.footer-links{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 30px 0;
    text-align: left;
}

.footer-links a{
    text-decoration: none;
}

.footer-links a:hover{
    text-decoration: underline;
}

.footer-content{
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.social-media-buttons {
    position: relative;
    transform-style: preserve-3d;
    margin-top: 15px;
}
.social-media-buttons a{
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-media-buttons a:hover{
    transform: rotateY(30deg) rotateX(20deg);
}
.social-media-buttons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
}
.appcard{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.app{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
    margin: 20px 10px;
}
.app-logo{
    padding: 0 20px;
}
.app img{
    width: 80px;
    height: auto;
}
.app a{
    margin-top: 5px;
    text-decoration: none;
    font-weight: bold;
}
.app a:hover{
    text-decoration: underline;
}
.tips-app{
    width: 100%;
}
.tips-app li{
    margin-bottom: 10px;
}
.contents-app article{
    margin: 0 20px 40px 20px;
}
 hr{
    width: 95%;
    margin: 30px 0;
 }
 .parentshelp{
    width: 40%;
 }
 .parentshelp img{
    width: 100%;
    height: 400px;
 }
 .admin-box{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
 }
.admin-card{
    width: 30%;
    height: 170px;
    background-color: rgba(247, 38, 31, 0.35);
    margin: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 }
 .card-info{
    padding: 20px 30px 30px 30px;
}
 .card-info a{
    text-decoration: none;
    font-size: 20px;
 }
 .card-info a:hover{
    text-decoration: underline;
 }
 .card-img{
    max-width: 50%;
 }
 .card-img img{
    width: 100%;
    height: 100%;
    opacity: 20%;
 }
 .blue{
    background-color: rgba(59, 105, 255, 0.4);
 }
 .yellow{
    background-color: rgba(252, 136, 27, 0.5);
 }
 .green{
    background-color: rgba(28, 235, 107, 0.3);
 }
 .sky{
    background-color: rgba(27, 237, 252, 0.35);
 }
 .violet{
    background-color: rgba(249, 63, 255, 0.35);
 }
.setup{
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 40px;
}
.setup form{
    width: 100%;
}
.setup h1{
    color: white;
}
.setup form label{
    font-size: 16px;
    letter-spacing: 1px;
}
.setup form input[type="text"],
.setup form input[type="date"],
.setup form textarea,
form input[type="email"],
form input[type="password"] {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    box-sizing: border-box;
    border-bottom: 1.5px solid #ffffff;
    font-size: 16px;
}
.contact{
    width: 500px;
    padding: 80px 40px;
    text-align: center;
}
.aboutus{
    display: flex;
}
.aboutus-content{
    width: 70%;
    padding: 30px;
}
.aboutus-content h1{
    text-align: center;
    margin-bottom: 40px;
}
.background{
    margin: 20px 10px 40px 10px;
}
.box-info{
    display: flex;
    justify-content: space-between;
}
.info{
    width: 45%;
    height: auto;
    padding: 0 50px;
    margin: 0 20px;
    border-left: 4px solid #bd8e0f;
}
.aboutus-image{
    width: 30%;
    margin-top: 20px;
}
.aboutus-image img{
    width: 100%;
    height: 300px;
    /* margin-left: 50px; */
}
.legislation{
    width: 95%;
    display: flex;
}
.legis-image{
    width: 30%;
    height: 500px;
}
.legis-image img{
    width: 100%;
    height: 300px;
    margin-top: 160px;
}
.legis-content{
    width: 60%;
    padding: 0 40px;
}
.legis-content h1{
    text-align: center;
    padding-bottom: 20px;
}
.legis-content ul li,
.legis-content p{
    font-size: 17px;
}
.legis-content ul li{
    margin-bottom: 10px;
}
.legis-content p{
    margin: 30px;
}

.setup form input[type="text"]:focus,
.setup form input[type="date"]:focus,
.setup form textarea:focus,
form input[type="email"]:focus,
form input[type="password"]:focus{
    border-bottom: 2px solid #bd8e0f;
}
.setup form textarea{
    height: 80px;
}
.setup form input[type="file"]{
    font-size: 16px;
    width: 100%;
}
.setup form input[type="submit"],
.login-box form input[type="submit"]{
    width: 100%;
    height: 40px;
    background-color: #df9100;
    color: black;
    font-size: 16px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.setup form input[type="submit"]:hover,
.login-box form input[type="submit"]:hover{
    background-color: #bd8e0f;
}
.setup-list{
    width: 100%;
    color: white;
    margin: 0 30px 30px 30px;
}
.setup-table{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}
.setup-table table{
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.3);
}
.setup-table table th,
.setup-table table td{
    padding: 10px 15px;
}
.setup-list .action{
    display: flex;
    flex-direction: column;
}
.setup-list .action .update,
.setup-list .action .delete{
    min-width: 60px;
    height: 30px;
    background-color: #df9100;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}
.setup-list .action .delete{
    background-color: #f44336;
}
.support-list{
    width: 90%;
    min-height: 100px;
    background-color: #37444d;
    border-bottom: 1px solid #aaa;
    padding: 15px 25px;
}
.login-box{
    width: 350px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 50px;
    margin: 40px;
}
.login-box form input[type="email"],
.login-box form input[type="password"] {
    width: 300px;
    margin-top: 5px;
}
.login-box form input[type="submit"]{
    width: 300px;
}
.alert-msg{
    color: #f44336;
}
.register-link a{
    color: rgb(23, 140, 235);
    text-decoration: none;
}
.register-link a:hover{
    text-decoration: underline;
}
.page{
    width: 200px;
    height: 120px;
    background-color: #f44336;
    padding: 20px;
}
.admin{
    max-width: 100% !important;
}
@media (max-width:600px){
    .news{
        display: block;
    }
    .news img{
        width: 100%;
        height: 200px;
    }
    .setup, .login-box{
        width: 80%;
    }
    .features-service{
        display: block;
    }
    .service-home{
        width: 100% !important;
    }
    .box-info{
        display: block;
    }
    .info{
        width: 80%;
    }
    .admin-box{
        display: block;
    }
    .admin-card{
        width: 100% !important;
    }
}
@media (max-width:1000px){
    nav{
        height: fit-content;
    }
    nav .navbar{
        display: block;
    }
    nav .navbar .nav-link .menu{
        flex-wrap: wrap;
        gap: 0;
    }
    nav .navbar .nav-link .menu .link{
        padding: 5px 15px;
    }
    .navbar-auth{
        margin-top: 0;
        margin-bottom: 10px;
    }
    .service-info{
        padding-bottom: 10px;
    }
    .teenbrain{
        display: block;
    }
    .teenbrain-info{
        margin: 10px;
    }
    .teenbrain-info img{
        width: 80px;
    }
    .news{
        padding: 10px;
    }
    .app{
        width: 45%;
    }
    .app img{
        width: 80px;
    }
    .background{
        margin: 0;
    }
    .aboutus-image{
        width: 100%;
    }
    .aboutus{
        display: block;
    }
    .aboutus-content{
        width: 100%;
        padding: 0;
    }
    .info{
        padding: 0 0 0 20px;
    }
}
@media (max-width:1300px){
    .service-home{
        width: 49%;
        margin: 10px 0;
    }
    .news{
        margin: 10px;
    }
    .app{
        display: block;
        padding: 15px;
    }
    .legislation{
        display: block;
        padding: 10px;
    }
    .legis-content{
        width: 100%;
        padding: 0;
    }
    .legis-image{
        width: 100%;
        height: auto;
    }
    .legis-image img{
        margin-top: 0;
    }
    .parentshelp{
        width: 100%;
    }
    .admin-card{
        width: 45%;
        margin: 10px;
    }
    
}